@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>Razvojni tim:</h3>

<address>
   Ivan Raković development<br />
    <br />
    <abbr title="Telefon">tel:</abbr>
    064222333
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:bataraka.ivan@il.com">bataraka@gml.com</a><br />
</address>