@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>Razvojni tim:</h3>

<address>
   Ivan Raković development<br />
    <br />
    <abbr title="Telefon">tel:</abbr>
    0642501107
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rakovic.ivan@gmail.com">rakovic.ivan@gmail.com</a><br />
</address>