@model BackeryShop.Web.Models.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Početni ekran";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @if (Model.ShowTurnoverInputs)
    {
        foreach (var item in Model.BackeriesList)
        {
            <div class="col-md-4">
                <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                <p>
                    <a href="@Url.Action("Create", "TurnoverData", new { id = item.Id })" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novi unos prometa &raquo;
                    </a>
                </p>
            </div>
        }
    }
</div>